.body {
	//background-color: $color-fon;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

	&_hidden {
		overflow-y: hidden;
	}
}



html {
	height: 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	padding: 60px 0px 0px 0px;
	flex: 1 1;
}

section {
	margin-top: 100px;

	

	@media (max-width: $mmd){
		margin-top: 50px;
	}
}

.section-nomargin {
	margin-top: 0;
}

a {
	&:hover {
	}
}

p {
	letter-spacing: 0.2px;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font;
	font-weight: 700;
	color: $color-text;
	margin: 0;
}
h1{
	$fs: 60;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(70 / $fs * 100%);

	span {
		color: $color-blue;
	}

	@media (max-width: $mlg){
		$fs: 38;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(49 / $fs * 100%);
	}

	@media (max-width: $mmd){
		$fs: 32;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(49 / $fs * 100%);
	}
}
h2 {
	$fs: 40;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(60 / $fs * 100%);
	margin-bottom: 20px;


	@media (max-width: $mmd){
		$fs: 28;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);
		margin-bottom: 10px;
	}

}

h3 {
	$fs: 20;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(32 / $fs * 100%);

	@media (max-width: $mmd){
		$fs: 18;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
	}
}
.btn {
	display: inline-flex;
	background: $color-blue;
	justify-content: center;
	color: #fff;
	padding: 16px 85px;
	font-weight: 600;
	$fs: 16;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(24 / $fs * 100%);
	transition: 0.3s;
	box-sizing: border-box;
	&:hover {
		color: #fff;
		background-color: $color-purple;
		transition: 0.3s;
	}
}
.form {
	&__inscription {
		color: $color-form-color;
		margin-bottom: 10px;
	}
}

.padding-left-block {
	padding-left: 60px;

	@media (max-width: $mlg){
		padding-left: 25px;
	}

	@media (max-width: $mmd){
		padding-left: 15px;
	}

	p {
		margin-top: 20px;
	}
}

.detailed-link  {
	color: $color-blue;
	font-weight: 600;
	display: flex;
	align-items: center;
	transition: .3s;
	margin-top: 30px;

	.icon {
		position: relative;
		width: 25px;
		height: 25px;
		fill: transparent;
		margin-left: 20px;
		transition: .3s;
		top: 2px;
		left: 0;
		stroke: $color-blue;
    	stroke-width: 2;
	}

	&:hover {
		color: $color-ligth-blue;

		.icon {
			stroke: $color-pink;
			left: 10px;

		}
	}
}

//Главное меню
.menu {
	height: 57px;

	&__item {
		font-size: 14px;
		padding: 0 14px;
		margin: 0 -14px;
		color: $color-text;
		&_active,
		&:hover {
			//color: $color-danger;
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}
@media (max-width: 991px) {
	.menu {
		&__btn {
			span,
			&:after,
			&:before {
				//background: $color-light-text;
			}
			&:hover {
				//border: 1px solid $color-danger;
				&:after,
				&:before,
				span {
					//background: $color-danger;
				}
			}
			&_open {
				span,
				&:after,
				&:before {
					//background: $color-danger;
				}
			}
		}
		&__list {
			padding: 15px 0;
		}

		&__item {
			background: #fff;
			padding: 5px 0;
			font-size: 0.875em;
		}
	}
}

// .form-input {
// 	border: 1px solid $color-light-grey;
// 	//box-sizing: border-box;
// 	//border-radius: 3px;
// 	$colorPlacheolder: $color-placeholder;
// 	padding: 15px 20px;
// 	font-size: calc(16 / $f-size) + em;
// 	&::-webkit-input-placeholder {
// 		color: $colorPlacheolder;
// 	}
// 	&::-moz-placeholder {
// 		color: $colorPlacheolder;
// 	}
// 	&:-moz-placeholder {
// 		color: $colorPlacheolder;
// 	}
// 	&:-ms-input-placeholder {
// 		color: $colorPlacheolder;
// 	}
// }



// .radio,
// .checkbox {
// 	display: flex;
// 	font-size: calc(14 / $f-size) + em;
// 	input[type="radio"],
// 	input[type="checkbox"] {
// 		& + label span {
// 			margin-right: 10px;
// 			width: 12px;
// 			height: 12px;
// 			background: #ffffff;
// 			//border: 1px solid $color-light-lite-grey;
// 			border-radius: 1px;
// 		}
// 	}
// 	input[type="radio"],
// 	input[type="checkbox"] {
// 		&:checked + label span {
// 			box-shadow: 0px 0px 0px 2px #ffffff inset;
// 			//background: $color-orange;
// 			border-radius: 1px;
// 		}
// 	}
// }
// .radio {
// 	input[type="radio"] {
// 		& + label span {
// 			border-radius: 50%;
// 		}
// 	}
// 	input[type="radio"] {
// 		&:checked + label span {
// 			border-radius: 50%;
// 		}
// 	}
// }
