@mixin i {
		width: 25px;
		height: 25px;
		position: absolute;
		-webkit-mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		background-color: #666;
}
i{@include i;}

.mask-reset {
	-webkit-mask-size: unset;
	-webkit-mask-repeat: unset;
	-webkit-mask-position: unset;
	background-color: unset;
}
$icon: (cart, );
@each $icon in $icon {
	.icon-#{$icon} {
		-webkit-mask-image: url(../img/iconsprite/#{$icon}.svg);
		// -webkit-mask-image: url(../img/icons/sprite.svg##{$icon});
	}
}
// @mixin icon-item {
// 	-webkit-mask-image: url(../img/icon/item.svg);
// }
// @mixin icon-like($svg-fon) {
// 	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 412.735 412.735' style='enable-background:new 0 0 412.735 412.735;' xml:space='preserve'%3E%3Cpath style='fill:%23#{$svg-fon};' d='M295.706,46.058C354.45,46.344,402,93.894,402.286,152.638 c0,107.624-195.918,214.204-195.918,214.204S10.449,258.695,10.449,152.638c0-58.862,47.717-106.58,106.58-106.58l0,0 c36.032-0.281,69.718,17.842,89.339,48.065C226.123,64.047,259.722,45.971,295.706,46.058z'/%3E%3Cpath style='fill:%23BD2130;' d='M206.367,377.291c-1.854-0.024-3.664-0.567-5.224-1.567C193.306,371.544,0,263.397,0,152.638 C0,88.005,52.395,35.609,117.029,35.609l0,0c34.477-0.406,67.299,14.757,89.339,41.273 c41.749-49.341,115.591-55.495,164.932-13.746c26.323,22.273,41.484,55.02,41.436,89.501 c0,112.327-193.306,218.906-201.143,223.086C210.031,376.723,208.221,377.266,206.367,377.291z M117.029,56.507 c-53.091,0-96.131,43.039-96.131,96.131l0,0c0,89.861,155.167,184.424,185.469,202.188 c30.302-17.241,185.469-111.282,185.469-202.188c0.087-53.091-42.881-96.201-95.972-96.289 c-32.501-0.053-62.829,16.319-80.615,43.521c-3.557,4.905-10.418,5.998-15.323,2.44c-0.937-0.68-1.761-1.503-2.44-2.44 C179.967,72.479,149.541,56.08,117.029,56.507z'/%3E%3C/svg%3E");
// }
// @mixin icon-vote2($svg-fon) {
// 	background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='%23#{$svg-fon}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.65 11.0818C0.65 10.2262 1.3581 9.51548 2.24183 9.51548H5.62715V19.5803C5.41616 19.6831 5.18086 19.7406 4.93204 19.7406H2.24183C1.3581 19.7406 0.65 19.0299 0.65 18.1742V11.0818Z' stroke='%23BD2130' stroke-width='1.3'/%3E%3Cpath d='M20.4605 10.3533L20.0339 10.8149L20.4809 11.2568C20.7299 11.503 20.8716 11.8339 20.8716 12.19C20.8716 12.7013 20.5762 13.1564 20.1246 13.3812L19.5381 13.6731L19.8345 14.2572C19.9262 14.4379 19.9749 14.6376 19.9749 14.8497C19.9749 15.3614 19.6789 15.8168 19.2269 16.0417L18.6402 16.3337L18.937 16.918C19.0731 17.186 19.1151 17.4971 19.0444 17.8136C18.9157 18.3887 18.3463 18.854 17.6468 18.854H9.41566C9.01514 18.854 8.39044 18.7465 7.82383 18.5441V9.79872L7.8704 9.69898L10.453 4.1678L10.514 4.03707V3.8928V0.996379C10.6959 0.880066 11.1227 0.65 11.6575 0.65C11.7577 0.65 11.9382 0.69392 12.1788 0.839642C12.4116 0.980646 12.6625 1.19458 12.894 1.4701C13.3605 2.02542 13.6977 2.76876 13.6977 3.54617C13.6977 4.64436 13.2906 6.06638 13.0172 6.88689L12.7322 7.74235H13.6339H19.1731C20.0789 7.74235 20.7938 8.40307 20.8645 9.16243C20.9055 9.60819 20.7559 10.0339 20.4605 10.3533Z' stroke='%23BD2130' stroke-width='1.3'/%3E%3C/svg%3E%0A");;
// }
