.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: #aaa;
}

a {
	text-decoration: none;
}

.icon-appstore {
	font-size:(20/10)*1rem;
	width:(82/20)*1em;
}
.icon-arrowright {
	font-size:(248/10)*1rem;
	width:(96/248)*1em;
}
.icon-closecooki {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-facebook {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-googleplay {
	font-size:(18/10)*1rem;
	width:(89/18)*1em;
}
.icon-how-cost-line {
	font-size:(234/10)*1rem;
	width:(439/234)*1em;
}
.icon-insta {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-logo {
	font-size:(296/10)*1rem;
	width:(528/296)*1em;
}
.icon-longline {
	font-size:(443/10)*1rem;
	width:(380/443)*1em;
}
.icon-main-block-line {
	font-size:(395/10)*1rem;
	width:(691/395)*1em;
}
.icon-miniarrow {
	font-size:(16/10)*1rem;
	width:(32/16)*1em;
}
.icon-sliderarrow {
	font-size:(34/10)*1rem;
	width:(16/34)*1em;
}
.icon-stars {
	font-size:(36/10)*1rem;
	width:(60/36)*1em;
}
.icon-stars-min {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-tablet {
	font-size:(316/10)*1rem;
	width:(475/316)*1em;
}
.icon-twitter {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-vk {
	font-size:(11/10)*1rem;
	width:(22/11)*1em;
}
