//===Настройка сетки===============================
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$msm: 575px;
$mmd: 767px;
$mlg: 991px;
$mxl: 1199px;
$mxxl: 1599px;

$wsm: 540px;
$wmd: 720px;
$wlg: 960px;
$wxl: 1140px;
$wxxl: 1410px;
$plr: 12; //Отступы по бокам
//=================================================
//=================================================
$color-btn: #0F87CA;
$color-btn-hover-backg:red;
$color-btn-hover-text:#000;
$color-btn-disable-backg:#333;
$color-btn-disable-border: green;
$color-form-color: blue;
//=================================================
$f-size: 16;
$f-size-max1200: 13;
$font: Lato, sans-serif;
$font-roboto: Roboto, Lato, sans-serif;
$color-text:#1c1c1c;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;
// $color-:;