//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
@import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";
//@import "_sprite";

///////////////////////////////////////////////

//===Header and Footer===================
@import "footer.scss";
@import "header.scss";
main {
	@media (min-width: $md){
	margin-top: 100px;
	}
	
}
.main-block {
	&__title {
	}

	&__block-baner {
		margin-top: 60px;
	}

	&__info-row {
		display: flex;
		justify-content: space-between;
		// background: $color-bg-grey;
		background-position: 105% 80%;
		min-height: 400px;
		position: relative;
		// overflow: hidden;

		@media (max-width: $mlg) {
			background-image: none;
			min-height: 250px;
		}

		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: $color-bg-grey;
		}
	}
	&__img-line {
		width: 100%;
		height: 100%;
		max-width: 712px;
		max-height: 400px;
		position: absolute;
		overflow: hidden;
		z-index: -1;
		right: 0;
		top: 0;
		.icon {
			&-line {
				width: 100%;
				height: 100%;
				fill: transparent;
				stroke: $color-blue;
				stroke-width: 3px;
				fill: transparent;
				position: relative;
				top: -10px;
				
			}
			&-stars-min {
				&-1,
				&-2,
				&-3 {
					position: absolute;
					width: 25px;
					height: 25px;
					fill: $color-blue;
				}
				&-1 {
					left: 245px;
					bottom: 31px;
				}
				&-2 {
					left: 165px;
					top: 52px;
				}
				&-3 {
					width: 59px;
					height: 36px;
					right: 0;
					top: -40px;
				}

				
			}

			@media (max-width: $mlg){
				display: none;
			}
		}
	}

	&__info {
		padding: 100px 0px 0px 60px;
		box-sizing: border-box;
		$grid: 45;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mxl) {
			$grid: 45;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			padding: 30px 25px;
			margin-bottom: 50px;
		}
	}

	&__text {
	}

	&__btn {
		padding: 16px 60px;
		margin-top: 30px;

		@media (max-width: $mxl) {
			padding: 25px 65px;
		}

		@media (max-width: $wsm) {
			padding: 25px 20px;
			width: 100%;
		}
	}

	&__row {
		background: $color-blue;
		padding: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: $mlg) {
			padding: 30px 25px;
		}
	}

	&__img {
		@media (max-width: $mlg) {
			display: none;
		}
	}

	&__item {
		$grid: 30;
		flex: 0 0 0% + $grid;
		max-width: 279px;
		@media (max-width: $mlg) {
			$grid: 47;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-bottom: 30px;
		}

		@media (max-width: $mmd) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item-img {
		max-width: 110px;
		img {
			width: 100%;
			object-fit: cover;
		}

		@media (max-width: $mlg) {
			max-width: 90px;
		}
	}

	&__item-title {
		color: #fff;
		margin-bottom: 10px;
		margin-top: 12px;
	}

	&__item-text {
		color: #fff;
	}
}

// ==================================

.all-need {
	&__title {
		margin-bottom: 20px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 60px;
	}

	&__item {
		background: $color-bg-grey;
		padding: 30px 25px;
		$grid: 31.9;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		box-sizing: border-box;
		margin-bottom: 25px;

		@media (max-width: $mlg) {
			$grid: 48;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mmd) {
			padding: 20px 15px;
		}

		@media (max-width: $wsm) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__item-img {
		max-width: 160px;
		img {
			width: 100%;
			object-fit: cover;
		}

		@media (max-width: $mlg) {
			max-width: 90px;
		}
	}

	&__item-title {
		margin-bottom: 10px;
		white-space: pre-line;

		@media (max-width: $mxl){
			$fs: 17;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
			
		}

		@media (max-width: $mmd){
			br {
				display: none;
			}
		}
	}

	&__item-text {
	}

	&__item-date {
		color: $color-gray-40;
		$fs: 12;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(16 / $fs * 100%);
		margin-top: 10px;
	}
}

// ==================================
.save-calmly {
	&__title {
	}

	&__subtitle-text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
		flex-wrap: wrap;
	}

	&__item {
		$grid: 31.9;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		background: $color-bg-grey;
		padding: 30px 25px 60px 25px;
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		z-index: 10;
		min-height: 490px;

		&::before {
			content: "";
			display: inline-block;
			width: 600px;
			height: 40px;
			background: $color-ligth-red;
			mix-blend-mode: normal;
			opacity: 0.4;
			transform: matrix(0.71, -1.55, 0.32, 0.71, 0, 0);
			position: absolute;
			top: 30%;
			right: -63%;
			z-index: -1;

			@media (max-width: $mxl) {
				right: -68%;
			}

			@media (max-width: $mmd) {
				right: -81%;
			}

			@media (max-width: $wsm) {
				right: -235px;
			}
		}

		@media (max-width: $mlg) {
			$grid: 48;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-bottom: 25px;
			// padding: 20px 15px 30px 15px;
			min-height: 395px;
		}

		@media (max-width: $mmd) {
			min-height: 500px;
		}

		@media (max-width: $wsm) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;

			min-height: 340px;
		}
	}

	&__item-title {
		margin-bottom: 15px;
	}

	&__item-text {
	}

	&__dop-text {
		margin-top: 35px;
		@media (max-width: $mlg) {
			margin-top: 5px;
		}
	}
}
// ==================================
.why-eazy {
	background: $color-bg-grey;
	padding: 50px 0px;


	&__title {
	}

	&__subtitle-text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 60px 0px;

		@media (max-width: $mlg) {
			margin-bottom: 10px;
			padding-left: 25px;
		}
	}

	&__item {
		$grid: 30;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mlg) {
			$grid: 48;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-bottom: 30px;
		}

		@media (max-width: $mmd) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__item-img {
		max-width: 160px;
		img {
			width: 100%;
			object-fit: cover;
		}

		@media (max-width: $mlg) {
			max-width: 90px;
		}
	}

	&__item-title {
		margin-bottom: 10px;
	}

	&__item-text {
	}

	&__btn {
		padding: 16px 60px;
		margin-left: 50px;

		@media (max-width: $mlg) {
			margin-left: 0;
			margin-left: 25px;
		}
	}
}

// ==================================
.how-cost {
	background: $color-blue;
	padding: 60px 55px 80px 55px;
	position: relative;
	overflow: hidden;

	@media (max-width: $mlg) {
		padding: 30px 25px 30px 25px;
	}

	@media (max-width: $mmd) {
		padding: 30px 15px 30px 15px;
	}

	

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $mlg) {
			flex-direction: column;
		}
	}

	&__img {
		$grid: 42;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		display: flex;
		justify-content: center;

		@media (max-width: $mlg) {
			display: none;
		}
		.icon {
			position: absolute;
			fill: transparent;
			stroke: #fff;
			stroke-width: 2px;
			fill: transparent;
			width: 42%;
			height: 100%;
			top: -199px;
			left: 1px;
			@media (max-width: $mlg) {
				display: none;
			}
		}
	}

	&__info {
		$grid: 58;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__title {
		color: #fff;
	}

	&__text {
		color: #fff;

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__btn {
		background: #fff;
		padding: 16px 60px;
		color: $color-blue;
		margin-top: 50px;

		@media (max-width: $wsm) {
			width: 100%;
			padding: 16px 10px;
		}
	}
}

// ==================================
.how-work {
	&__title {
	}

	&__subtitle-text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 60px;
		counter-reset: numbers;
		align-items: center;
	}

	&__item {
		$grid: 40;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		margin-bottom: 60px;
		background: $color-bg-grey;
		padding: 30px 25px 20px 25px;
		box-sizing: border-box;
		position: relative;
		min-height: 270px;
		display: flex;

		&:nth-child(4) {
			margin-bottom: 0;
		}

		&:nth-child(6) {
			margin-bottom: 0;
		}

		@media (max-width: $mxxl) {
			min-height: 320px;
		}

		@media (max-width: $mxl) {
			$grid: 42;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;

			min-height: 220px;

			&:nth-child(4) {
				margin-bottom: 30px;
			}
		}

		@media (max-width: $mmd) {
			margin-bottom: 30px;
		}

		@media (max-width: $wsm) {
			padding: 20px 20px 20px 20px;
		}
	}

	&__item-img {
		img {
			width: 160px;

			@media (max-width: $mxxl) {
				width: 100px;
			}

			@media (max-width: $mxxl) {
				width: 100px;
			}

			@media (max-width: $wsm) {
				width: 50px;
			}
		}
	}

	&__item-text {
		$fs: 16;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
		margin-left: 10px;
		@media (max-width: $msm){
			$fs: 14;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(22 / $fs * 100%);
		}
	}

	&__arrow {
		@media (max-width: $mxxl) {
			img {
				width: 100px;
			}
		}

		@media (max-width: $mlg) {
			display: none;
		}
	}
}

// ==================================
.big-opportunities {
	&__title {
	}

	&__subtitle-text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
		flex-wrap: wrap;
	}

	&__item-text-block {
		min-height: 300px;
		box-sizing: border-box;
		padding: 30px 25px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex: 1 1;

		@media (max-width: $mmd) {
			padding: 30px 15px;
		}
	}

	&__item-wrapper {
	}

	&__item {
		$grid: 31.5;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		background: $color-bg-grey;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__item-img {
		min-height: 210px;
		background: $color-dark-grey;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-title {
		margin-bottom: 10px;
	}

	&__item-detailed-link {
	}

	&__item-text {
	}

	&__text {
		margin-top: 30px;
	}
}

// ==================================
.slider-cases {
	background: $color-bg-grey;
	padding: 50px 0px 60px 0px;

	&__slide {
	}

	.swiper-pagination {
		.swiper-pagination-bullet {
			background: rgba(18, 32, 165, 0.32);
		}

		.swiper-pagination-bullet-active {
			background: $color-blue;
		}
	}

	&__wrapper {
		margin-top: 50px;
		position: relative;

		@media (max-width: $mxxl) {
			//margin-top: 140px;
		}
	}

	&__wrapper-pag {
		$grid: 82;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			order: 1;
		}
	}

	&__slider-block {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__pagination {
		height: 24px;
		position: relative;
		margin-top: 50px;
	}

	&__slide-img {
		margin-bottom: 45px;
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__slide-title {
		margin-bottom: 15px;
	}

	&__slide-text {
	}

	&__slide-detailed-link {
		display: flex;
		align-items: center;
		position: relative;

		// &:hover {
		// 	i {
		// 		right: 0;
		// 		left: unset;
		// 	}
		// }

		// i {
		// 	position: absolute;
		// 	top: 2px;
		// 	right: 35px;
		// 	left: unset;
		// 	margin: 0;
		// }
	}
}

.slider-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	background: $color-blue;
	transition: 0.3s;
	position: relative;

	.icon {
		transition: 0.3s;
		width: 13px;
		height: 32px;
		fill: transparent;
		stroke: #fff;
		stroke-width: 2;
	}

	&:hover {
		cursor: pointer;
		.icon {
			fill: transparent;
			stroke: $color-ligth-blue;
			stroke-width: 2;
		}
	}

	@media (max-width: $mlg) {
		order: 2;
	}
}

.left-arrow {
	.icon {
		transform: rotate(-180deg);
	}
}

// ==================================
.reviews {
	padding-bottom: 120px;
	background: #fff;

	&__title {
	}

	&__subtitle-text {
	}

	&__slide {
	}

	&__slide-row {
		display: flex;
		align-items: center;
	}

	&__slide-img {
		width: 68px;
		height: 68px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__slide-info {
		margin-left: 30px;
	}

	&__slide-name {
		$fs: 24;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);
		font-weight: 700;

		@media (max-width: $wsm) {
			$fs: 20;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
		}
	}

	&__slide-description {
	}

	&__slide-text {
		margin-top: 30px;
	}
}

// ==================================
.manage-income {
	&__title {
	}

	&__subtitle-text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
		align-items: center;

		@media (max-width: $mlg) {
			display: block;
		}
	}

	&__selects {
		$grid: 48;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}
	}

	&__item {
		margin-top: 85px;

		&:first-child {
			margin-top: 0;
		}

		@media (max-width: $mlg) {
			margin-top: 40px;
		}
	}

	&__text-title {
		$fs: 24;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);
		font-weight: 700;

		@media (max-width: $mmd) {
			$fs: 18;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
		}
	}

	&__item-wrapper {
		@media (max-width: $mmd) {
			width: 88%;
		}
	}

	&__item-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
		margin-top: 10px;

		span {
			$fs: 16;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(24 / $fs * 100%);
			color: $color-dark-grey;
			font-weight: 600;
		}
	}

	&__range {
		width: 100%;
		position: relative;
		height: 60px;

		input {
		}
	}

	&__range-num {
		display: inline-block;
		$fs: 16;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
		font-weight: 600;
		position: absolute;
		left: 10px;
		transition: 0.3s;
		white-space: nowrap;
		margin-top: 10px;
	}

	&__slider {
		-webkit-appearance: none;
		width: 100%;
		height: 21px;
		outline: none;
		background: $color-bg-grey;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 40px;
			width: 40px;
			background: #fff;
			position: relative;
			border: 11px solid $color-blue;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				border-color: $color-ligth-blue;
			}
		}
	}

	&__sum {
		$grid: 48;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		text-align: right;

		@media (max-width: $mlg) {
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-top: 20px;
		}
	}

	&__sum-big-number {
		margin-top: 20px;
		$fs: 72;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(108 / $fs * 100%);
		font-weight: 700;
		color: $color-blue;

		@media (max-width: $mxl) {
			$fs: 64;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(79 / $fs * 100%);
		}

		@media (max-width: $mmd) {
			$fs: 42;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(67 / $fs * 100%);
		}
	}

	&__sum-text {
		$fs: 12;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(16 / $fs * 100%);
		color: $color-gray-40;
		font-weight: 500;
	}
}
// ==================================
.block-cookies {
	background: $color-dark-blue;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2500;
	transition: 1s;

	&_close {
		bottom: -1000px;
	}

	&__row {
		padding: 12px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_active {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__text {
		$fs: 20;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(36 / $fs * 100%);
		color: #fff;
		text-transform: uppercase;
		margin: 0;

		a {
			border-bottom: 3px solid #fff;
			margin-left: 5px;
			transition: 0.3s;

			&:hover {
				color: $color-purple;
				border-color: $color-purple;
			}
		}

		@media (max-width: $mmd) {
			$fs: 16;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
		}

		@media (max-width: $wsm) {
			$fs: 14;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(20 / $fs * 100%);
		}

		&_disable {
			display: none;
		}
	}

	&__btn {
		font-family: $font-helvetica;
		color: $color-text;
		background: #fff;
		font-weight: 700;
		padding: 10px 30px;
		$fs: 20;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(20 / $fs * 100%);
		transition: 0.3s;

		&:hover {
			color: #fff;
			background: $color-purple;
		}

		@media (max-width: $mmd) {
			$fs: 16;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
			padding: 4px 15px;
		}

		@media (max-width: $wsm) {
			$fs: 14;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(20 / $fs * 100%);
		}

		&_active {
			margin-top: 10px;
		}
	}

	&__top {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

	}

	&__close {
		display: none;
		width: 23px;
		height: 23px;
		position: relative;

		span {
			background: #fff;
			display: inline-block;
			position: absolute;
			width: 23px;
			height: 3px;
			transform: rotate(45deg);
			top: 10px;
			left: 0px;

			&:first-child {
				transform: rotate(-45deg);
			}
		}

		&_active {
			display: block;
		}
	}

	&__block-text {
		$fs: 16;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
		color: #fff;
		font-weight: 400;
		margin: 10px 0px;

		a {
			font-weight: 700;
			transition: .3s;

			&:hover {
				color: $color-purple;
			}
		}
		display: none;

		&_active {
			display: block;
		}
	}

}

// ==================================
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: #fff;

	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		height: 50px;
		width: 50px;
		border-left: 3px solid $color-ligth-blue;
		border-bottom: 3px solid $color-ligth-blue;
		border-right: 3px solid $color-ligth-blue;
		border-top: 3px solid transparent;
		border-radius: 50%;
		animation: spinner 1s linear infinite;
		
	}

	@keyframes spinner {
		from {
			transform: rotate(0deg);
		}
	 
		to {
			transform: rotate(360deg);
		}
	}
}


// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }
  
.loaded .preloader {
	display: none;
  }
