@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&subset=cyrillic-ext&display=swap);

.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.container-fluid {
  width: 93%;
  padding: 0 12px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

body {
  font-family: Inter, normal;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  color: #202532;
}

i {
  width: 25px;
  height: 25px;
  position: absolute;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #666;
}

.mask-reset {
  -webkit-mask-size: unset;
  -webkit-mask-repeat: unset;
  -webkit-mask-position: unset;
  background-color: unset;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.bg-main_block_img_1 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -10px -346px;
}

.bg-main_block_img_2 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -190px -346px;
}

.bg-main_block_img_3 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -370px -346px;
}

.bg-number_four {
  width: 160px;
  height: 157px;
  background: url("../img/icons/css_sprites.webp") -730px -706px;
}

.bg-number_one {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -550px -346px;
}

.bg-number_three {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -10px -526px;
}

.bg-number_two {
  width: 160px;
  height: 157px;
  background: url("../img/icons/css_sprites.webp") -996px -10px;
}

.bg-tablet {
  width: 478px;
  height: 316px;
  background: url("../img/icons/css_sprites.webp") -10px -10px;
}

.bg-why_eazy_1 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -190px -526px;
}

.bg-why_eazy_2 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -370px -526px;
}

.bg-why_eazy_3 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -550px -526px;
}

.bg-all_need_1 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -816px -10px;
}

.bg-all_need_2 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -816px -190px;
}

.bg-all_need_3 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -816px -370px;
}

.bg-all_need_4 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -10px -706px;
}

.bg-all_need_5 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -190px -706px;
}

.bg-all_need_6 {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -370px -706px;
}

.bg-arrow_left {
  width: 160px;
  height: 160px;
  background: url("../img/icons/css_sprites.webp") -550px -706px;
}

.bg-how_cost_img {
  width: 288px;
  height: 288px;
  background: url("../img/icons/css_sprites.webp") -508px -10px;
}

.img-number {
  zoom: 64%;
}

.img-arrow {
  zoom: 64%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

body.lock {
  height: 100vh;
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  z-index: 1500;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-y: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
          transform: perspective(600px) translate(0, 0) rotateX(0);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  overflow: auto;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  overflow: auto;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.accordion {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.accordion__active,
.accordion:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border: 5px solid transparent;
  border-top: 6px solid #6c6c6c;
}

.accordion_active:after {
  content: "";
  border: 5px solid transparent;
  border-bottom: 6px solid #6c6c6c;
  border-top: none;
}

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.body_hidden {
  overflow-y: hidden;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding: 60px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

section {
  margin-top: 100px;
}

.section-nomargin {
  margin-top: 0;
}

p {
  letter-spacing: 0.2px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Inter, normal;
  font-weight: 700;
  color: #202532;
  margin: 0;
}

h1 {
  font-size: 3.75em;
  line-height: 116.6666666667%;
}

h1 span {
  color: #1220a5;
}

h2 {
  font-size: 2.5em;
  line-height: 150%;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25em;
  line-height: 160%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #1220a5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 16px 85px;
  font-weight: 600;
  font-size: 1em;
  line-height: 150%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn:hover {
  color: #fff;
  background-color: #d617cf;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__inscription {
  color: blue;
  margin-bottom: 10px;
}

.padding-left-block {
  padding-left: 60px;
}

.padding-left-block p {
  margin-top: 20px;
}

.detailed-link {
  color: #1220a5;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 30px;
}

.detailed-link .icon {
  position: relative;
  width: 25px;
  height: 25px;
  fill: transparent;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 2px;
  left: 0;
  stroke: #1220a5;
  stroke-width: 2;
}

.detailed-link:hover {
  color: #ea5688;
}

.detailed-link:hover .icon {
  stroke: #ea5688;
  left: 10px;
}

.menu {
  height: 57px;
}

.menu__item {
  font-size: 14px;
  padding: 0 14px;
  margin: 0 -14px;
  color: #202532;
}

.menu__item_active,
.menu__item:hover {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background: #1220a5;
  padding: 16px 0px 22px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-weight: 400;
}

.footer__info-title {
  color: #fff;
  font-size: 1.5em;
  line-height: 150%;
  margin-bottom: 15px;
}

.footer__info-link {
  display: block;
  color: #CCCCFE;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-bottom: 7px;
  font-size: 0.875em;
  line-height: 142.8571428571%;
}

.footer__info-link:hover {
  color: #d617cf;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  max-width: 115px;
  margin-left: -5px;
}

.footer__soc-item {
  position: relative;
}

.footer__soc-item .icon {
  width: 21px;
  height: 15px;
  fill: #CCCCFE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__soc-item .icon:hover {
  fill: #d617cf;
}

.footer__nav-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-title {
  color: #fff;
  margin-bottom: 7px;
}

.footer__nav-list {
  color: #CCCCFE;
  font-size: 0.875em;
  line-height: 142.8571428571%;
}

.footer__nav-list a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__nav-list a:hover {
  color: #d617cf;
}

.footer__btn {
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  min-width: 124px;
  min-height: 34px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 142.8571428571%;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__btn:last-child {
  margin-bottom: 0;
}

.footer__btn:hover {
  border-color: #d617cf;
  color: #d617cf;
}

.footer__btn:hover .icon {
  fill: #d617cf;
}

.footer__btn .icon {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  max-width: 89px;
  height: 20px;
  fill: #fff;
}

.footer__googleplay .icon {
  position: relative;
  top: 1px;
}

.footer__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #CCCCFE;
  margin-top: 45px;
}

.footer__copyright {
  color: #CCCCFE;
}

.header {
  padding: 5px 0px;
  background: #fff;
  z-index: 2000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1220a5;
}

.header_move {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.98);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo {
  width: 150px;
}

.header__logo img {
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li {
  font-size: 0.875em;
  line-height: 142.8571428571%;
  color: #1220a5;
  font-weight: 600;
  margin-left: 25px;
}

.header__li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__li a:hover {
  color: #d617cf;
}

.header__li:first-child {
  margin-left: 0;
}

.header__btn {
  text-align: center;
  font-size: 0.75em;
  line-height: 133.3333333333%;
  color: #1220a5;
  font-weight: 600;
  padding: 5px 28px;
  border: 2px solid #1220a5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__btn:hover {
  color: #d617cf;
  border-color: #d617cf;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tell {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 142.8571428571%;
  margin-left: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__tell:hover {
  color: #d617cf;
}

.header_active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.header_active .header__nav {
  display: block;
}

.header_active .header__nav {
  margin-top: 30px;
}

.header_active .header__li {
  margin-left: 0;
}

.header_active .header__right {
  display: block;
  margin-top: 30px;
}

.header_active .header__right a {
  display: block;
  margin-left: 0;
}

.header_active .header__tell {
  margin-top: 25px;
}

.burger-menu {
  display: none;
  position: relative;
  width: 24px;
  height: 17px;
}

.burger-menu span {
  display: inline-block;
  width: 24px;
  height: 3px;
  background: #000;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 7px;
}

.burger-menu span:nth-child(3) {
  top: 14px;
}

.burger-menu_active span:nth-child(1) {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.burger-menu_active span:nth-child(2) {
  display: none;
}

.burger-menu_active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.main-block__block-baner {
  margin-top: 60px;
  position: relative;
}

.main-block__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: 105% 80%;
  min-height: 400px;
  position: relative;
}

.main-block__info-row:before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #F2F2F3;
}

.main-block__starts-icon {
  position: absolute;
  width: 59px;
  height: 36px;
  right: 0;
  top: -40px;
  fill: #1220a5;
}

.main-block__img-line {
  width: 100%;
  height: 100%;
  max-width: 712px;
  max-height: 400px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  right: 0;
  top: 0;
}

.main-block__img-line .icon-line {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #1220a5;
  stroke-width: 3px;
  fill: transparent;
  position: relative;
  top: -10px;
}

.main-block__img-line .icon-stars-min-1,
.main-block__img-line .icon-stars-min-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  fill: #1220a5;
}

.main-block__img-line .icon-stars-min-1 {
  left: 245px;
  bottom: 31px;
}

.main-block__img-line .icon-stars-min-2 {
  left: 165px;
  top: 52px;
}

.main-block__info {
  padding: 100px 0px 0px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.main-block__btn {
  padding: 16px 60px;
  margin-top: 30px;
}

.main-block__row {
  background: #1220a5;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 279px;
}

.main-block__item-img {
  max-width: 110px;
}

.main-block__item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__item-title {
  color: #fff;
  margin-bottom: 10px;
  margin-top: 12px;
}

.main-block__item-text {
  color: #fff;
}

.all-need__title {
  margin-bottom: 20px;
}

.all-need__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.all-need__item {
  background: #F2F2F3;
  padding: 30px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.9%;
          flex: 0 0 31.9%;
  max-width: 31.9%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
}

.all-need__item-img {
  max-width: 160px;
}

.all-need__item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-need__item-title {
  margin-bottom: 10px;
  white-space: pre-line;
}

.all-need__item-date {
  color: #BEC0C5;
  font-size: 0.75em;
  line-height: 133.3333333333%;
  margin-top: 10px;
}

.save-calmly__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.save-calmly__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.9%;
          flex: 0 0 31.9%;
  max-width: 31.9%;
  background: #F2F2F3;
  padding: 30px 25px 60px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 10;
  min-height: 490px;
  background-image: url("data:image/svg+xml,%3Csvg width='380' height='443' viewBox='0 0 380 443' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H380V443H0V0Z' /%3E%3Cmask id='mask0_2239_66' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='380' height='443'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H380V443H0V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2239_66)'%3E%3Cpath opacity='0.400614' fill-rule='evenodd' clip-rule='evenodd' d='M-12.0562 457.578L384.675 -43.8265L391.435 -13.7965L-5.29552 487.608L-12.0562 457.578Z' fill='%23FFD6D7'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-color: #F2F2F3;
  background-size: 100% 100%;
}

.save-calmly__item-title {
  margin-bottom: 15px;
}

.save-calmly__dop-text {
  margin-top: 35px;
}

.why-eazy {
  background: #F2F2F3;
  padding: 50px 0px;
}

.why-eazy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0px;
}

.why-eazy__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.why-eazy__item-img {
  max-width: 160px;
}

.why-eazy__item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-eazy__item-title {
  margin-bottom: 10px;
}

.why-eazy__btn {
  padding: 16px 60px;
  margin-left: 50px;
}

.how-cost {
  background: #1220a5;
  padding: 60px 55px 80px 55px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}

.how-cost__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-cost__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  max-width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-cost__img .icon {
  position: absolute;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
  width: 42%;
  height: 100%;
  top: -199px;
  left: 1px;
}

.how-cost__img .img-how_cost_img {
  zoom: 55%;
  position: relative;
  top: 80px;
}

.how-cost__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
  max-width: 58%;
}

.how-cost__title {
  color: #fff;
}

.how-cost__text {
  color: #fff;
}

.how-cost__text p {
  margin-bottom: 20px;
}

.how-cost__text p:last-child {
  margin-bottom: 0;
}

.how-cost__btn {
  background: #fff;
  padding: 16px 60px;
  color: #1220a5;
  margin-top: 50px;
}

.how-work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  counter-reset: numbers;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  margin-bottom: 60px;
  background: #F2F2F3;
  padding: 30px 25px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-work__item:nth-child(4) {
  margin-bottom: 0;
}

.how-work__item:nth-child(6) {
  margin-bottom: 0;
}

.how-work__item-img img {
  width: 160px;
}

.how-work__item-text {
  font-size: 1em;
  line-height: 150%;
  margin-left: 10px;
}

.big-opportunities__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.big-opportunities__item-text-block {
  min-height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.big-opportunities__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
          flex: 0 0 31.5%;
  max-width: 31.5%;
  background: #F2F2F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.big-opportunities__item-img {
  min-height: 210px;
  background: #D9DADD;
}

.big-opportunities__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-opportunities__item-title {
  margin-bottom: 10px;
}

.big-opportunities__text {
  margin-top: 30px;
}

.slider-cases {
  background: #F2F2F3;
  padding: 50px 0px 60px 0px;
}

.slider-cases .swiper-pagination .swiper-pagination-bullet {
  background: #A5AAD1;
}

.slider-cases .swiper-pagination .swiper-pagination-bullet-active {
  background: #1220a5;
}

.slider-cases__wrapper {
  margin-top: 50px;
  position: relative;
}

.slider-cases__wrapper-pag {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82%;
          flex: 0 0 82%;
  max-width: 82%;
}

.slider-cases__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-cases__pagination {
  height: 24px;
  position: relative;
  margin-top: 50px;
}

.slider-cases__slide-img {
  margin-bottom: 45px;
}

.slider-cases__slide-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-cases__slide-title {
  margin-bottom: 15px;
}

.slider-cases__slide-detailed-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  background: #A5AAD1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.slider-arrow .icon {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 13px;
  height: 32px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
}

.slider-arrow_active {
  background: #1220a5;
}

.left-arrow .icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.reviews {
  padding-bottom: 120px;
  background: #fff;
}

.reviews__slide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__slide-img {
  width: 68px;
  height: 68px;
}

.reviews__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__slide-info {
  margin-left: 30px;
}

.reviews__slide-name {
  font-size: 1.5em;
  line-height: 150%;
  font-weight: 700;
}

.reviews__slide-text {
  margin-top: 30px;
}

.manage-income__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage-income__selects {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
}

.manage-income__item {
  margin-top: 85px;
}

.manage-income__item:first-child {
  margin-top: 0;
}

.manage-income__text-title {
  font-size: 1.5em;
  line-height: 150%;
  font-weight: 700;
}

.manage-income__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.manage-income__item-row span {
  font-size: 1em;
  line-height: 150%;
  color: #D9DADD;
  font-weight: 600;
}

.manage-income__range {
  width: 100%;
  position: relative;
  height: 60px;
}

.manage-income__range-num {
  display: inline-block;
  font-size: 1em;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  margin-top: 10px;
}

.manage-income__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 21px;
  outline: none;
  background: #F2F2F3;
}

.manage-income__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border: 11px solid #1220a5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.manage-income__slider::-webkit-slider-thumb:hover {
  cursor: pointer;
  border-color: #436aa8;
}

.manage-income__sum {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
  text-align: right;
}

.manage-income__sum-big-number {
  margin-top: 20px;
  font-size: 4.5em;
  line-height: 150%;
  font-weight: 700;
  color: #1220a5;
}

.manage-income__sum-text {
  font-size: 0.75em;
  line-height: 133.3333333333%;
  color: #BEC0C5;
  font-weight: 500;
}

.block-cookies {
  background: #202532;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2500;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.block-cookies_close {
  bottom: -1000px;
}

.block-cookies__row {
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-cookies__row_active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-cookies__text {
  font-size: 1.25em;
  line-height: 180%;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.block-cookies__text a {
  border-bottom: 3px solid #fff;
  margin-left: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block-cookies__text a:hover {
  color: #d617cf;
  border-color: #d617cf;
}

.block-cookies__text_disable {
  display: none;
}

.block-cookies__btn {
  font-family: Inter, normal;
  color: #202532;
  background: #fff;
  font-weight: 700;
  padding: 10px 30px;
  font-size: 1.25em;
  line-height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block-cookies__btn:hover {
  color: #fff;
  background: #d617cf;
}

.block-cookies__btn_active {
  margin-top: 10px;
}

.block-cookies__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-cookies__close {
  display: none;
  width: 23px;
  height: 23px;
  position: relative;
}

.block-cookies__close span {
  background: #fff;
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
  left: 0px;
}

.block-cookies__close span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.block-cookies__close_active {
  display: block;
}

.block-cookies__block-text {
  font-size: 1em;
  line-height: 150%;
  color: #fff;
  font-weight: 400;
  margin: 10px 0px;
  display: none;
}

.block-cookies__block-text a {
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block-cookies__block-text a:hover {
  color: #d617cf;
}

.block-cookies__block-text_active {
  display: block;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: #fff;
}

.preloader__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader__item {
  height: 50px;
  width: 50px;
  border-left: 3px solid #436aa8;
  border-bottom: 3px solid #436aa8;
  border-right: 3px solid #436aa8;
  border-top: 3px solid transparent;
  border-radius: 50%;
  -webkit-animation: spinner 1s linear infinite;
          animation: spinner 1s linear infinite;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 0), (-o-min-device-pixel-ratio: 2/1) and (min-width: 0), (min-resolution: 2dppx) and (min-width: 0) {
  .bg-main_block_img_2 {
    width: 320px;
    height: 268px;
    background: url("../img/icons/css_sprites_x2.webp") -1350px -1342px;
  }

  .bg-main_block_img_3 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -10px -662px;
  }

  .bg-number_four {
    width: 320px;
    height: 314px;
    background: url("../img/icons/css_sprites_x2.webp") -1576px -690px;
  }

  .bg-number_one {
    width: 320px;
    height: 314px;
    background: url("../img/icons/css_sprites_x2.webp") -10px -1342px;
  }

  .bg-number_three {
    width: 320px;
    height: 314px;
    background: url("../img/icons/css_sprites_x2.webp") -350px -1342px;
  }

  .bg-number_two {
    width: 320px;
    height: 314px;
    background: url("../img/icons/css_sprites_x2.webp") -690px -1342px;
  }

  .bg-tablet {
    width: 950px;
    height: 632px;
    background: url("../img/icons/css_sprites_x2.webp") -10px -10px;
  }

  .bg-why_eazy_1 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -350px -662px;
  }

  .bg-why_eazy_2 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -690px -662px;
  }

  .bg-why_eazy_3 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -1030px -662px;
  }

  .bg-all_need_1 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -10px -1002px;
  }

  .bg-all_need_2 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -350px -1002px;
  }

  .bg-all_need_3 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -690px -1002px;
  }

  .bg-all_need_4 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -1030px -1002px;
  }

  .bg-all_need_5 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -1576px -10px;
  }

  .bg-all_need_6 {
    width: 320px;
    height: 320px;
    background: url("../img/icons/css_sprites_x2.webp") -1576px -350px;
  }

  .bg-arrow_left {
    width: 300px;
    height: 300px;
    background: url("../img/icons/css_sprites_x2.webp") -1030px -1342px;
  }

  .bg-how_cost_img {
    width: 576px;
    height: 576px;
    background: url("../img/icons/css_sprites_x2.webp") -980px -10px;
  }

  .bg-main_block_img_1 {
    width: 320px;
    height: 280px;
    background: url("../img/icons/css_sprites_x2.webp") -1576px -1024px;
  }

  .img-tablet,
  .img-main_block_img,
  .img-all_need,
  .img-why_eazy,
  .img-how_cost_img {
    zoom: 50%;
  }

  .img-arrow,
  .img-number {
    zoom: 32%;
  }
}

@media (min-width: 576px) {
  .container-fluid {
    width: 100%;
  }

  .container {
    max-width: 540px;
    padding-left: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  main {
    margin-top: 100px;
  }

  .slider-arrow:hover {
    background: #1220a5;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 2000px) {
  .container-fluid {
    max-width: 1110px;
  }
}

@media (max-width: 1599px) {
  .how-work__item {
    min-height: 320px;
  }

  .how-work__item-img img {
    width: 100px;
  }

  .how-work__item-img img {
    width: 100px;
  }

  .how-work__arrow img {
    width: 100px;
  }
}

@media (max-width: 1200px) {
  .container-fluid {
    max-width: 960px;
  }
}

@media (max-width: 1199px) {
  .header__logo {
    width: 120px;
  }

  .header__li {
    margin-left: 15px;
  }

  .main-block__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }

  .main-block__btn {
    padding: 25px 65px;
  }

  .all-need__item-title {
    font-size: 1.0625em;
    line-height: 147.0588235294%;
  }

  .how-work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
    max-width: 42%;
  }

  .manage-income__sum-big-number {
    font-size: 4em;
    line-height: 123.4375%;
  }
}

@media (max-width: 991px) {
  .container-fluid {
    max-width: 720px;
  }

  .img-number {
    zoom: 50%;
  }

  .img-why_eazy,
  .img-main_block_img,
  .img-all_need {
    zoom: 80%;
  }

  h1 {
    font-size: 2.375em;
    line-height: 128.9473684211%;
  }

  .padding-left-block {
    padding-left: 25px;
  }

  .menu__list {
    padding: 15px 0;
  }

  .menu__item {
    background: #fff;
    padding: 5px 0;
    font-size: 0.875em;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .footer__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }

  .footer__nav-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__botton-block {
    margin-top: 40px;
  }

  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo {
    width: 80px;
  }

  .header__nav {
    display: none;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__li {
    font-size: 1.25em;
    line-height: 145%;
    margin-top: 20px;
  }

  .header__right {
    display: none;
  }

  .header__btn {
    font-size: 1.25em;
    line-height: 125%;
  }

  .header__wrapper {
    width: 100%;
  }

  .header__tell {
    font-size: 1.25em;
    line-height: 100%;
  }

  .burger-menu {
    display: block;
  }

  .main-block__info-row {
    background-image: none;
    min-height: 250px;
  }

  .main-block__starts-icon {
    display: none;
  }

  .main-block__img-line .icon {
    display: none;
  }

  .main-block__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 25px;
    margin-bottom: 50px;
  }

  .main-block__row {
    padding: 30px 25px;
  }

  .main-block__img {
    display: none;
  }

  .main-block__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    max-width: 47%;
    margin-bottom: 30px;
  }

  .main-block__item-img {
    max-width: 90px;
  }

  .all-need__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
  }

  .all-need__item-img {
    max-width: 90px;
  }

  .save-calmly__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 25px;
    min-height: 490px;
  }

  .save-calmly__dop-text {
    margin-top: 5px;
  }

  .why-eazy__row {
    margin-bottom: 10px;
    padding-left: 25px;
  }

  .why-eazy__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 30px;
  }

  .why-eazy__item-img {
    max-width: 90px;
  }

  .why-eazy__btn {
    margin-left: 0;
    margin-left: 25px;
  }

  .how-cost {
    padding: 30px 25px 30px 25px;
  }

  .how-cost__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how-cost__img {
    display: none;
  }

  .how-cost__img .icon {
    display: none;
  }

  .how-cost__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .how-work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 220px;
  }

  .how-work__item:nth-child(4) {
    margin-bottom: 30px;
  }

  .how-work__arrow {
    display: none;
  }

  .big-opportunities__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .slider-cases__wrapper-pag {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .slider-arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .manage-income__row {
    display: block;
  }

  .manage-income__selects {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .manage-income__item {
    margin-top: 40px;
  }

  .manage-income__sum {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px), (-o-min-device-pixel-ratio: 2/1) and (max-width: 991px), (min-resolution: 2dppx) and (max-width: 991px) {
  .img-number {
    zoom: 25%;
  }

  .img-why_eazy,
  .img-main_block_img,
  .img-all_need {
    zoom: 40%;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    max-width: 540px;
  }

  section {
    margin-top: 50px;
  }

  h1 {
    font-size: 2em;
    line-height: 153.125%;
  }

  h2 {
    font-size: 1.75em;
    line-height: 128.5714285714%;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.125em;
    line-height: 133.3333333333%;
  }

  .padding-left-block {
    padding-left: 15px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }

  .footer__nav-wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .footer__nav {
    min-width: 110px;
  }

  .footer__nav:first-child {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .footer__botton-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
  }

  .main-block__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .main-block__item:last-child {
    margin-bottom: 0;
  }

  .all-need__item {
    padding: 20px 15px;
  }

  .all-need__item-title br {
    display: none;
  }

  .save-calmly__item {
    min-height: 600px;
  }

  .why-eazy__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .how-cost {
    padding: 30px 15px 30px 15px;
  }

  .how-work__item {
    margin-bottom: 30px;
  }

  .big-opportunities__item-text-block {
    padding: 30px 15px;
  }

  .manage-income__text-title {
    font-size: 1.125em;
    line-height: 138.8888888889%;
  }

  .manage-income__item-wrapper {
    width: 88%;
  }

  .manage-income__sum-big-number {
    font-size: 2.625em;
    line-height: 159.5238095238%;
  }

  .block-cookies__text {
    font-size: 1em;
    line-height: 156.25%;
  }

  .block-cookies__btn {
    font-size: 1em;
    line-height: 156.25%;
    padding: 4px 15px;
  }
}

@media (max-width: 575px) {
  .how-work__item-text {
    font-size: 0.875em;
    line-height: 157.1428571429%;
  }

  .slider-arrow {
    width: 40px;
    height: 40px;
  }

  .slider-arrow .icon {
    width: 8px;
    height: 20px;
  }

  .slider-arrow:hover {
    opacity: 1;
  }

  .slider-arrow:hover .icon {
    stroke: #fff;
  }
}

@media (max-width: 540px) {
  .img-number {
    zoom: 40%;
  }

  .img-why_eazy,
  .img-main_block_img,
  .img-all_need {
    zoom: 60%;
  }

  .main-block__btn {
    padding: 25px 20px;
    width: 100%;
  }

  .all-need__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .all-need__item:last-child {
    margin-bottom: 0;
  }

  .save-calmly__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 340px;
  }

  .how-cost__btn {
    width: 100%;
    padding: 16px 10px;
  }

  .how-work__item {
    padding: 20px 20px 20px 20px;
  }

  .how-work__item-img img {
    width: 50px;
  }

  .slider-cases__pagination {
    margin-top: 10px;
  }

  .slider-cases__pagination .swiper-pagination {
    top: 32px;
  }

  .reviews__slide-name {
    font-size: 1.25em;
    line-height: 125%;
  }

  .block-cookies__text {
    font-size: 0.875em;
    line-height: 142.8571428571%;
  }

  .block-cookies__btn {
    font-size: 0.875em;
    line-height: 142.8571428571%;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 540px), (-o-min-device-pixel-ratio: 2/1) and (max-width: 540px), (min-resolution: 2dppx) and (max-width: 540px) {
  .img-number {
    zoom: 20%;
  }

  .img-why_eazy,
  .img-main_block_img,
  .img-all_need {
    zoom: 30%;
  }
}