.accordion {
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	font-family: $font;
	$fs: 16;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(24 / $fs * 100%);
	font-weight: 600;
	color: $color-blue;
}

.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	background: $color-grey-five;

	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;

	}

}