//Хлебные крошки  //!Сниппет "!BreadСrumbs"

.breadcrumbs {
	// margin-top: 30px;
	$fs: 20;
	font-size: calc($fs / $f-size) + em;
	line-height: calc(32 / $fs * 100%);
	color: $color-bread-crumbs;
	font-weight: 500;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 25px;

	@media (max-width: $mxl){
		$fs: 18;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
	}

	@media (max-width: $wsm){
		$fs: 16;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(24 / $fs * 100%);
	}


	&__item {
		position: relative;
		display: flex;
		align-items: center;
		margin-left: 8px;

		a {
			transition: .3s;
		}

		a {
			&:hover {
				color: $color-purple;
			}
		}
		

		&:first-child {
			margin-left: 0px;

			&:before {
				display: none;
			}
		}

		&:last-child {
			color: $color-dark-grey;
			

			a {
				cursor: text;

				&:hover {
					color: $color-dark-grey;
				}
			}
		}

		svg {
			width: 20px;
			margin-left: 8px;

			@media (max-width: $wsm){
				width: 14px;
			}
		}

		&_active {
			color: #666;
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
	}
}